---
layout: default
---

<!-- about.html -->

      <div class="post">
        
        <!-- <header class="post-header">
          <h1 class="post-title">{{ page.title }}</h1>
          <p class="post-description">{{ page.description }}</p>
        </header> -->
        
        <!-- <header class="post-header">
          <h1 class="post-title">
            {% if site.title == "blank" -%}{ site.first_name }</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1> -->
          <!-- <p class="desc">{{ page.subtitle }}</p> -->
        <!-- </header> -->

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid" -%}
              {% endif %}

              {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
              
              {% include figure.html
                path = profile_image_path
                class = profile_image_class
                sizes = sizes
                alt = page.profile.image
                cache_bust = true 
              %}
            {% endif -%}
            {%- if page.profile.more_info %}
            <div class="more-info">
              {{ page.profile.more_info }}
            </div>
            {%- endif -%}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
            <div class=containerr>
              <span style="font-size: 1.0em;">Reach me at </span> &nbsp;
                <span style="font-size: 1.3em;">
                    <a href="mailto:{{ site.email | encode_email }}" title="email"><i class="fa-solid fa-envelope"></i></a>&nbsp;
                    <a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>&nbsp;
                    <a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="fa-brands fa-github"></i></a>&nbsp;
                    <a href="https://twitter.com/{{ site.x_username }}" title="X"><i class="fa-brands fa-x-twitter"></i></a>
                </span>. 
                <button class = "moreabt" onclick="toggleText()" id="textButton">
                  More about me.
              </button>
                <span id="moreText" style = "display:none;"> I enjoy running, painting, and hanging with my awesome friends and <a href="https://y0mingzhang.github.io/">Yiming</a>, among other things.
                </span>

                <button class = "moreabt" onclick="toggleNews()" id="newsButton">
                  News.
              </button>
                <span id="newsText" style = "display:none;"> 
                  <div style="display: inline-block; text-align: left;">
                  <ul-news>
                    <li-news>Sept 2025</li-news>
                    <li-news>Presenting 2 papers and a demo at UIST 2025, lezzgo. Excited to visit Busan and hang with old friends!</li-news>
                    <li-news>July 2025</li-news>
                    <li-news>My 3rd half marathon (Erie), first one with friends! Vimal, Taejun, and Andrew (Daehwa and Y cheered!)</li-news>
                    <li-news>March 2025</li-news>
                    <li-news>Virtually presented our DBN + LLM framework at IUI 2025, Cagliari, Italy</li-news>
                    <li-news>Oct 2024</li-news>
                    <li-news>Giving talk at Ellis High School, Pittsburgh</li-news>
                    <li-news>May-Sept 2024</li-news>
                    <li-news>Research Scientist Intern at Meta Reality Labs, Redmond</li-news>
                    <li-news>May 2024</li-news>
                    <li-news>Presenting Robotic Metamaterials at CHI 2024, Honolulu</li-news>
                    <li-news>April 2024</li-news>
                    <li-news>[Not my news but...] <a href="https://y0mingzhang.github.io/">Yiming</a> received an OpenAI fellowship. I am so very proud of my big head genius!</li-news>
                    <li-news>Nov 2023</li-news>
                    <li-news>Presented BlendMR at ISS, won best paper, Pittsburgh</li-news>
                    <li-news>Nov 2023</li-news>
                    <li-news>Presented Parametric Haptics at UIST, San Francisco</li-news>
                    <li-news>August 2023</li-news>
                    <li-news>Started My PhD with alex @ISL @CMU HCII, yay!</li-news>
                    
                  </ul>
                </div>
                </span>
                
                <script>
                    document.addEventListener("touchstart", function(){}, true)
                    function toggleNews() {
                        let showMoreText =
                            document.getElementById("newsText");
                        let buttonText =
                            document.getElementById("newsButton");
                        if (showMoreText.style.display == "inline") {
                            showMoreText.style.display = "none";
                            buttonText.innerHTML = "News.";
                        }
                        else {
                            showMoreText.style.display = "inline";
                            buttonText.innerHTML = "News:";
                        }
                    }
                </script>
                <script>
                  function toggleText() {
                      let showMoreText =
                          document.getElementById("moreText");
                      let buttonText =
                          document.getElementById("textButton");
                      if (showMoreText.style.display == "inline") {
                          showMoreText.style.display = "none";
                          buttonText.innerHTML = "More about me.";
                      }
                      else {
                          showMoreText.style.display = "inline";
                          buttonText.innerHTML = "More about me:";
                      }
                  }
              </script>
              </div>
              <!-- <div class="centered">
                <img src="/assets/img/research-vision6.png" alt="research", width ="700",align="center">
              </div> -->
          </div>
          <br>
          

          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
            {%- include news.html limit=true %}
          {%- endif %}

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          

          <!-- Social -->
          <!-- {%- if page.social %}
            
          {%- endif %} -->
        </article>

</div>
